:root {
  --PrimaryColor: hsl(0, 66%, 43%);
  --SecondaryColor: hsl(180, 17%, 95%);
  --paleGreen: hsl(93, 75%, 76%);
  --colorOne: hsl(15, 74%, 70%);
  --colorTwo: hsl(28, 100%, 82%);
  --HoverColor: #d83f3f;
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 12%);
  --textColor: hsl(240, 1%, 48%);
  --borderColor: hsl(0, 0%, 83%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hwb(0 96% 4%);
  --greyText: rgb(145, 145, 145);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --transition: .4s ease-in-out;
  --bgColor: hsla(113, 11%, 85%, 0.533);
  --inputColor: hsl(330, 12%, 97%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.classManager .tableDiv {
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  overflow: hidden;
  z-index: 1;
}
.classManager .tableDiv h2 {
  background-color: var(--whiteColor);
  color: var(--PrimaryColor);
  border: 2px solid var(--PrimaryColor);
  padding: 1rem;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}
.classManager .tableDiv table {
  text-align: center;
  border: 2px solid var(--blackColor);
}
.classManager .tableDiv table td,
.classManager .tableDiv table th {
  border: 2px solid var(--blackColor);
  padding: 0.5rem;
}
.classManager .tableDiv table thead {
  background: var(--PrimaryColor);
  color: white;
}
.classManager .tableDiv .btn {
  font-size: var(--h2FontSize);
  font-weight: 500;
}
.classManager .tableDiv .icon :hover {
  color: var(--PrimaryColor);
}
.classManager .blurLayer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: 2;
  filter: blur(2px);
  background: rgba(225, 225, 225, 0.465);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.classManager .showLayer {
  display: block;
}
.classManager .formDiv {
  position: absolute;
  z-index: 3;
  right: -50%;
  top: 50%;
  transform: translate(50%, -50%);
  transition: 0.6s ease-in-out;
}
.classManager .formDiv .form {
  border: 2px solid var(--PrimaryColor);
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  background-color: var(--greyBg);
  width: 300px;
}
.classManager .formDiv .form h3 {
  background-color: var(--PrimaryColor);
  width: -moz-fit-content;
  width: fit-content;
  color: var(--whiteColor);
  padding: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.classManager .formDiv .form .icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--blackColor);
}
.classManager .formDiv .form .icon :hover {
  cursor: pointer;
}
.classManager .formDiv .form .inputDiv input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
}
.classManager .formDiv .form .inputDiv .input {
  background: var(--whiteColor);
  border-radius: 2rem;
  border: 2px solid var(--blackColor);
  padding: 0.5rem;
  width: 100%;
}
.classManager .showForm {
  right: 50%;
  transition: 0.6s ease-in-out;
}/*# sourceMappingURL=ClassManager.css.map */