:root {
  --PrimaryColor: hsl(0, 66%, 43%);
  --SecondaryColor: hsl(180, 17%, 95%);
  --paleGreen: hsl(93, 75%, 76%);
  --colorOne: hsl(15, 74%, 70%);
  --colorTwo: hsl(28, 100%, 82%);
  --HoverColor: #d83f3f;
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 12%);
  --textColor: hsl(240, 1%, 48%);
  --borderColor: hsl(0, 0%, 83%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hwb(0 96% 4%);
  --greyText: rgb(145, 145, 145);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --transition: .4s ease-in-out;
  --bgColor: hsla(113, 11%, 85%, 0.533);
  --inputColor: hsl(330, 12%, 97%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.sectionContainer {
  width: 99%;
  margin: auto;
}

.attendance {
  position: relative;
  overflow-x: hidden;
}
.attendance .cards {
  padding: 1rem;
  background: var(--greyBg);
  border-radius: 15px;
  box-shadow: 1px 1px 3px 1px var(--greyText);
  text-align: center;
}
.attendance .historyDiv {
  flex-direction: column;
}
.attendance .historyDiv .heading {
  color: var(--whiteColor);
  background: var(--PrimaryColor);
  border: none;
  text-align: center;
}
.attendance .todayClassesDiv {
  flex-direction: column;
  gap: 2rem;
}
.attendance .todayClassesDiv .flex {
  align-items: center;
}
.attendance .todayClassesDiv .heading {
  color: var(--whiteColor);
  background: var(--PrimaryColor);
  border: none;
  font-size: 2rem;
}
.attendance .todayClassesDiv .cards {
  background-color: var(--PrimaryColor);
  width: 100%;
}
.attendance .todayClassesDiv .singleItem .heading1 {
  transform: rotate(-90deg);
  transform-origin: center;
  text-align: center;
  color: var(--whiteColor);
  max-width: 150px;
  font-size: 1.5rem;
}
.attendance .todayClassesDiv .singleItem .cards {
  background-color: var(--whiteColor);
  min-height: 120px;
}
.attendance .todayClassesDiv .singleItem .todaySchedule .schedule {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  gap: 1rem;
}
.attendance .todayClassesDiv .singleItem .todaySchedule .schedule .singleCard {
  padding: 1rem;
  border-radius: 1rem;
  background: var(--itemCardColor);
  gap: 1rem;
  box-shadow: 0 2px 4px var(--inputColor);
  justify-content: space-between;
}
.attendance .todayClassesDiv .singleItem .todaySchedule .schedule .singleCard .classImg {
  padding-right: 1rem;
  border-right: 2px solid var(--whiteColor);
}
.attendance .todayClassesDiv .singleItem .todaySchedule .schedule .singleCard .classImg img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid var(--inputColor);
  transition: 0.5s ease;
  background-color: var(--blackColor);
}
.attendance .todayClassesDiv .singleItem .todaySchedule .schedule .singleCard .classImg img:hover {
  transform: translateY(-10px);
}
.attendance .todayClassesDiv .singleItem .todaySchedule .schedule .singleCard .cardText span {
  color: var(--blackColor);
  font-weight: 500;
}
.attendance .todayClassesDiv .reportDiv {
  flex-direction: column;
}
.attendance .todayClassesDiv .reportDiv h2 {
  color: var(--whiteColor);
}
.attendance .todayClassesDiv .reportDiv .btn {
  background: var(--whiteColor);
  color: var(--blackColor);
  font-weight: 500;
}
.attendance .todayClassesDiv .reportDiv .btn :hover {
  background: var(--blackColor);
  color: var(--whiteColor);
}
.attendance .checkinDiv .formDiv {
  position: absolute;
  z-index: 1001;
  right: -50%;
  top: 50%;
  transform: translate(50%, -50%);
  transition: 0.6s ease-in-out;
}
.attendance .checkinDiv .formDiv .form {
  border: 2px solid var(--PrimaryColor);
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  background-color: var(--greyBg);
  width: 300px;
}
.attendance .checkinDiv .formDiv .form h3 {
  background-color: var(--PrimaryColor);
  width: -moz-fit-content;
  width: fit-content;
  color: var(--whiteColor);
  padding: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.attendance .checkinDiv .formDiv .form .icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--blackColor);
}
.attendance .checkinDiv .formDiv .form .icon :hover {
  cursor: pointer;
}
.attendance .checkinDiv .formDiv .form .inputDiv input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
}
.attendance .checkinDiv .formDiv .form .inputDiv .input {
  background: var(--whiteColor);
  border-radius: 2rem;
  border: 2px solid var(--blackColor);
  padding: 0.5rem;
  width: 100%;
}
.attendance .checkinDiv .showForm {
  right: 50%;
  transition: 0.6s ease-in-out;
}
.attendance .blurLayer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: 1000;
  filter: blur(2px);
  background: rgba(225, 225, 225, 0.465);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.attendance .showLayer {
  display: block;
}/*# sourceMappingURL=attendance.css.map */